<div class="row">
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a>
    </li>
    <li role="presentation">
      <a href="#register" aria-controls="register" role="tab" data-toggle="tab">Register</a>
    </li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="login">
      <div class="col-lg-12">
        <div *ngIf="!hasLogin">
          <legend>User Login</legend>
          <div class="form-group">
            <label for="">Email</label>
            <input type="text" [(ngModel)]="email" class="form-control" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input type="password" [(ngModel)]="password" class="form-control" placeholder="Enter password">
          </div>
          <button class="btn btn-primary" (click)="onLogin()">Login</button>
        </div>
        <div *ngIf="hasLogin">
            <br/>
            <button class="btn btn-danger" (click)="onLogout()">Logout</button>
        </div>
      </div>
      
    </div>
    <div role="tabpanel" class="tab-pane" id="register">
      <div class="col-lg-12">
        <legend>User Registration</legend>


        <div class="alert alert-success" *ngIf="saved">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          User saved!
        </div>


        <div class="form-group">
          <label for="">Full name</label>
          <input type="text" [(ngModel)]="user.fullName" class="form-control" placeholder="Enter full name">
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input type="text" [(ngModel)]="user.email" class="form-control" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="">Password</label>
          <input type="password" [(ngModel)]="user.password" class="form-control" placeholder="Enter password">
        </div>
        <button class="btn btn-primary" (click)="onRegister()">Register</button>
      </div>
    </div>
  </div>


</div>
